.ProfileImage {
    height: 350px;
    width: 250px;
    background-color: rgb(183, 239, 247);
    border-radius: 8px;
    vertical-align: text-top;
    float: left;  
}

.ProfileText{
    //display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}